* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  height: 100px;
  padding-top: 25px;
  background-color: rgba(148, 37, 126, 0.894);
}
a{
  text-decoration: none;
}
