* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  height: 100px;
  padding-top: 25px;
  background-color: rgba(148, 37, 126, 0.894);
}
table {
  width: 55%;
  margin: auto;
}
th{
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  color: gray
}
tr{
  height: 40px;
}
/* button{
  padding: 8px;
  width: 150px;
  background: rgba(61, 42, 188, 0.354);
  border-radius: 7px;
} */
a{
  text-decoration: none;
}
article h2, h3, h5{
  text-align: center;
  padding-bottom: 10px;
}

.showNavigation{
  display: flex;
  justify-content: center;
}
.showNavigation div{
  padding: 10px;
}

.nav-links{
  display:grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px 15px 10px 15px;
  background-color: rgba(150, 79, 180, 0.563);
  margin-bottom: 25px;
}
.Edit div{
  padding-bottom:10px;
  /* border: 1px solid red; */
  width: 100%
}
.Edit input{
  width:100%
}
.form-buttons a{
  margin: 10px
}
.New {
  display:flex;
  justify-content: center;
}
.x{
  color: rgb(254, 127, 127)
}

.bold{
  font-weight: 600;
}